@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto-Bold.ttf);
}

:root {
  --header-and-buttons-color: #6daffe;
  --header-footer-buttons-font-color: white;
  --footer-and-skill-tags-background-color: #b9732f;
  --button-hover-color: #b2cef0;
  --skills-directives-color: rgb(180, 180, 180);
}

html,
body {
  background-color: var(--header-footer-buttons-font-color);
}

.App {
  display: flex;
  flex-direction: column;
  margin: 25px;
  min-height: 100vh;
  font-family: "Roboto-Regular";
}

.header {
  display: flex;
  justify-content: center;
  text-align: center;
  background-color: var(--header-and-buttons-color);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}

.skills-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-header > h2 {
  margin-bottom: 5px;
}

.skills-header > h4 {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--skills-directives-color);
}

.skill-tags {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  min-height: 35px;
}

.skill-element {
  display: flex;
  align-items: center;
  gap: 20px;
  color: var(--header-footer-buttons-font-color);
  background-color: var(--footer-and-skill-tags-background-color);
  border-radius: 10px;
  padding: 5px 10px;
}

.skill-element > div:first-child {
  font-size: 20px;
}

.skill-element > div:nth-child(2) {
  cursor: pointer;
  color: var(--header-footer-buttons-font-color);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  padding: 20px;
  background-color: var(--footer-and-skill-tags-background-color);
  color: var(--header-footer-buttons-font-color);
}

a {
  color: var(--header-footer-buttons-font-color);
}

h1 {
  font-family: "Roboto-Bold";
  font-size: 3rem;
  color: var(--header-footer-buttons-font-color);
}

h2 {
  font-family: "Roboto-Bold";
  font-size: 2rem;
}

button {
  width: 200px;
  height: 30px;
  border: 0;
  border-radius: 5px;
  margin: 20px 20px 0 20px;
  font-size: 1rem;
  color: var(--header-footer-buttons-font-color);
  background-color: var(--header-and-buttons-color);
}

button:hover {
  background-color: var(--button-hover-color);
}

button:active {
  background-color: var(--header-and-buttons-color);
}

.add {
  margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
  button {
    width: 100%;
  }
}
