@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto-Regular.ttf);
}

.App {
  display: flex;
  flex-direction: column;
  margin: 50px 50px 15px 50px;
  min-height: 100vh;
  font-family: "Roboto-Regular";
}

.header {
  display: flex;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.component {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form {
  display: flex;
  flex-direction: column;
}

.skills-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-header > h2 {
  /* margin-top: 15px; */
  margin-bottom: 5px;
}

.skills-header > h4 {
  margin-top: 0;
  margin-bottom: 10px;
  color: lightgray;
}

.skill-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  min-height: 35px;
}

.skill-element {
  display: flex;
  align-items: center;
  gap: 20px;
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 5px 10px;
}

.skill-element > div:first-child {
  font-size: 20px;
}

.skill-element > div:nth-child(2) {
  cursor: pointer;
  color: red;
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 1.75rem;
}

button {
  width: 200px;
  height: 30px;
  border: 0;
  border-radius: 0;
  background-color: rgb(230, 230, 230);
  margin: 20px 20px 0 20px;
}

button:hover {
  background-color: darkgrey;
}

button:active {
  background-color: rgb(230, 230, 230);
}

.add {
  margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
  button {
    width: 100%;
  }
}
